/* CSS variable with fallback */
:root {
  --main-color: rgb(128, 119, 183);
}

body {
  background-color: var(--main-color, rgb(5, 5, 95)); /* fallback = navy blue */
  font-family: 'Quantico', cursive;
}

/* Wider gamut on text in div */
.test {
  color: rgb(250, 53, 53); /* fallback color*/
  color: color(display-p3 1 0.5 0.25);
}


/* Background color mix on the text in the span */
span {
  background-color: color-mix(in srgb, blue 30%, red 70%);
  text-decoration: underline dotted blue;
}

/* Box model 1*/
.box1 {
  border-style: solid;
  border-color: #ccfa76;
  border-width: 0.1rem;
  border-radius: 1rem;

  /* font size */
  font-size: 1.25em;

  /* padding longhand */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  /* margin shorthand */
  margin: 0.5cm 0.75cm 0.5cm 0.75cm;

  height: 50%;
  width: 50%;
  max-width: 100vw;
  min-width: 90vw;

  color: rgb(250, 53, 53); /* fallback color */
  color: color(display-p3 0.5 1 0.5);
}

/* Box model 2*/
.box2 {
  border-style: solid;
  border-color: #ce3030;
  border-width: 80%;
  border-radius: 10px;

  /* font size */
  font-size: 1.10em;
  
  /* padding shorthand */
  padding: 0.1in 0.1in 0.1in 0.1in;

  /* margin longhand */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  
  height: 50%;
  width: 50%;
  max-width: 100vw;
  min-width: 95vw;

  color: red; /* fallback color */
  color: color(display-p3 1 0.5 0.5);
}

video {
    display: block;
    /* auto margin */
    margin: auto;
}

.videotitle {
    text-align: center;

}

.audio {
    text-align: center;
    display: inline;
    margin: auto;
}

strong {
    text-decoration: underline;
    height: 50%;
    width: 50%;
}

p {
    text-align: justify;
}

/* Position */
details {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgb(235, 225, 168);
  flex-grow: 10;
}

.login {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Pseudo classes */
button:hover {
  color: gold;
}

button:active {
  color: green;
}

form:active {
    color: gold;
}

button {
    background-color: rgb(59, 39, 194);
    color: white;
    text-align: center;
}

/* Flexbox and Grid*/
form {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-basis: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

fieldset {
    border-color: #353b93;
    border-width: 2px;
    border-style: solid;
}


/* Media Query (Responsiveness) */
@media (max-width: 600px){
  form {
    flex-direction: column;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
}